h1 {
  font-family: 'Oregano',
  cursive;
  text-align: center

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

h2 {
  font-family: 'Tenali Ramakrishna',
  sans-serif
}

li {
  padding: 5px;
  margin: 5px;
  background: rgb(246, 166, 217);
  font-family: 'Baloo Bhaijaan',
  cursive;
  font-size: 15px

}

.label {
  font-weight: bolder
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: #C8F961;
}

.form-group {
  margin-bottom: 5px;
}
#font-pretty {
  font-family: 'Oregano';
  font-size: 24px;
}